:root{
    --primary: #00B798;
    --dark:#232122;
}



*{
    -webkit-tap-highlight-color: transparent;
}
body{
    font-family: "Poppins", sans-serif;
    padding:0 128px;
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    animation: pageLoad ease 1s;
    animation-fill-mode: forwards;
}

@keyframes pageLoad{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}




.projectContainer div{
    margin: 2rem 0;
}
.projectContainer{
    display:flex;
    align-items: center;
    flex-direction: column;
}
.divider{
    background:rgb(240,240,240);
    grid-column: 1/3;
    width:100%;
    height:2px;
}

.twocolumn{
    display:grid;
    grid-template-columns: 1fr 1fr;
}
.flexCenter{
    width:500px;
}
.projectHeaderImg{
    background:lightgray;
    display: flex;
    align-items:end;
    justify-content: center;
    position:relative;
    height:300px; 
    width:100%; 
    border-radius: 4rem 4rem 0 0;      
}

.projectHeaderImg div{
    width:auto;
    border-radius: 52px 52px 0 0;
    bottom:0;
    margin:0;
    height:42px;
    background: white;
    display:flex;
    justify-content: center;
    align-items: center;
}

.projectHeaderImg div div{
    width: auto;
    padding:1rem 3rem;
    background: white;
    overflow: hidden;
}

.projectImage{
    grid-column: 1/3;
}

/*Contact*/

input[type=text]{
    padding:1rem;
    border-radius: 0.5rem;
}
#hambCloseButton{
    position:absolute;
    top: 32px;
    right:32px;
    width:3rem;
    height:3rem;
}
.hambMenu{
    transition:right 0.5s ease;
    position:fixed;
    height:100vh;
    width:50rem;
    top:0;
    right:-50rem;
    z-index: 10;
    background:var(--dark);
}

.hambOpen{
    right:0;
}

.hambMenu ul{
    list-style: none;
    width:60%;
}

.hambMenu ul li{
    transition: font-weight 0.1s ease;
    transition: margin-left 0.2s ease;
    color:var(--primary);
    font-size: 3rem;
}

.hambMenu ul a{
    text-decoration: none;
}

.hambMenu ul li:hover{
    font-weight: 600;
    margin-left:1rem;
}

.x{
    transition: 0.3s ease;
    position: absolute;
    left:-4px;
    z-index: 2;
    background:var(--primary);
    width:120%;
    transform: rotate(45deg);
    height:4px;
}
.xReverse{
    transform: rotate(-45deg);
}

#hambCloseButton{
    cursor: pointer;
    outline: none;
    border:none;
    background:transparent;
}

#hambCloseButton:hover > div{
    height:6px;
}
.divider-primary{
    width: 10rem;
    height:4px;
    background: var(--primary);
    margin: 2rem 0;
}

a{
    font-family: "Poppins", sans-serif;
}
h1{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 3rem;
    padding:0;
    margin:0;
    height:auto;
}

p{
    font-weight: 300;
    width:100%;
    height:auto;
    margin:0;
}

.container{
    margin-bottom: -4rem;
    transition: 0.3s;
    margin:auto;
    width:80rem;
    gap:2rem;
}

nav img{
    height:100%;
}

#navContainer{
    width:100%;
    height:6rem;
    margin:0;
    padding:2rem 0 4rem 0;
}

nav{
    display: flex;
    align-items: center;
    position:relative;
    width:80rem;
    height: 100%;
    margin:auto;
    gap:space-between;
}

#moreHamb{
    cursor: pointer;
    font-size:2rem;
    position:absolute;
    right:0;
    transform:rotate(270deg);
    text-decoration: underline;
}
#moreHamb:hover{
    color:var(--primary);
    cursor: pointer;
}




h3{
    margin:1rem;
    font-family: Poppins sans-serif;
    font-weight: 500;
    font-size: 1.5rem;
    color:var(--primary);
    animation: spin 12s linear infinite;
    white-space: pre;
}

.blockSVG{
    width:85%;
    animation: spin 12s linear infinite reverse;
    aspect-ratio: 1/1;
}

.block .blockCircle{
    bottom:-20rem;
    right:-20rem;
}

.block:hover > .blockCircle{
    bottom:-5rem;
    right:-5rem;
}

.blockButton{
    cursor: pointer;
    border-radius: 50%;
    background:var(--primary);
    width:6.5rem;
    height:6.5rem;
    outline: none;
    border: none;
    top:33%;
    left:33%;
    position: absolute;
}
.block{
    cursor:pointer;
    overflow: hidden;
    width: 100%;
    height:24rem;
    background:lightgray;
    border-radius: 24px;
    position: relative;
}

.blockCircle{
    transition:0.3s;
    position:absolute;
    bottom:-30%;
    right:-20%;
    background:var(--dark);
    border-radius: 50%;
    width:20rem;
    height:20rem;
    aspect-ratio: 1/1;
    display:flex;
    justify-content: center;
    align-items: center;
}

.arrow{
    width: 45%;
    aspect-ratio: 1/1;
    position: absolute;
    bottom:30%;
    right:30%;
}

.arrowBlack{
    transition:0.2s;
}
.blockButton:hover > .arrowBlack{
    transform:translateX(4px) translateY(-4px);
}

.block-taski{
    transition: 0.3s;
    background: url(images/covers/taski.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.block-waddup{
    transition: 0.3s;
    background: url(images/covers/waddupdog.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.block-hillsons{
    transition: 0.3s;
    background: url(images/covers/hillsons.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.block:hover{
    background-position: -1rem center;
}
@keyframes spin{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

@keyframes pageAppear{
    0%{
        top:52rem;
        opacity: 0.3;
    }
    100%{
        top:0;
        opacity: 1;
    }
}

.btn-primary{
    margin:1rem auto;
    transition: 0.3s;
    box-shadow: 0px 6px 12px -3px rgba(0,0,0,0.1);
    cursor: pointer;
    padding: 0.75rem 2rem;
    border-radius: 2rem;
    border:none;
    font-family: "Poppins" sans-serif;
    outline: none;
    background:var(--primary);
    font-size: 1.5rem;
}
.btn-primary:hover{
    opacity: 0.9;
    box-shadow: 0px 11px 12px -3px rgba(0,0,0,0.1);
    transform: translateY(-2px)
}
/*Page*/
.project{
    border: 1px solid red;
    grid-column: 1 / 3;
    background: white;
    width:100%;
    margin:0;
}

.projectHeader{
    display:flex;
    align-items: center;
    width:100%;
}

.projectHeaderDesc{
    display:flex;justify-content: center;align-items: center;
}

.projectImage{
    border-radius: 3rem 3rem 3rem 3rem;
    width:100%;
    height:32rem;
    background:lightgray;
    margin:0;
}
.gallery{
    width:100%;
    height:auto;
    display:flex;
    gap:1rem;
    justify-content: center;
    flex-wrap: wrap;
}

.halfImage{
    margin:0;
    width: 40%;
    height:40%;
    aspect-ratio: 1/1;
}

.me{
    background: url(images/me.png);
    background-size: cover;
    background-position: center;
    border: 2px solid rgb(240,240,240);
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
}

.meAbout{
    background: url(images/me.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center bottom;
    position: fixed;
    width:72rem;
    height:90%;
    z-index: -1;
    bottom:0;
    right:0;
}

.span2{
    grid-column: span 2;
}





@media only screen and (max-width:1350px){
    nav a{
        max-height: 100%;
        height:16vw;
    }
    body{
        padding:0 32px;
    }
    .meAbout{
        width:50rem;
    }
    
    body{
        margin: 0 1rem;
    }

    #navContainer{
        width:100%;
        padding:3rem 0rem 4rem 0rem;
    }
    
    nav{
        width:auto;
    }
    .container{
        width:100%;
    }
}
@media only screen and (max-width:900px){
.meAbout{
        bottom:-50px;
        right:-8rem;
    }
body{
    padding:0 32px;
}
.projectHeaderImg{
        height:200px;        
    }
}

@media only screen and (max-width:800px){
    .hambMenu{
        width:100vw;
    }
    .flexCenter{
        width:90%;
    }
    h1{
        grid-column: 1/3;
        height:auto;
        font-size: clamp(28px, 4vw, 25vw);
    }
    .container{
        grid-template-columns: 1fr;
    }
    
}
@media only screen and (max-width:610px){
    
    .meAbout{
        position:relative;
        right:1rem;
        width:110%;
        height:23rem;
        margin-top:-6rem;
    }
    body{
        padding:0 2px;
    }
    input{
        width:100%;
    }
    nav img{
    height:16vw;
}
        
    .hambMenu ul li{
        font-size: 10vw;
    }
}